
div.beforeCompany>h1{
    text-align: center;
    padding-top: 128px;
    padding-bottom: 24px;
    font-size: 24px;
}
div.beforeCompany>p{
    text-align: center;
    padding-bottom: 36px;
    font-size: 18px;
}
div.company{
    display: flex;
    padding-inline: 16px;
    padding-block-end: 128px;
}

div.company>div>i{
    font-size: 64px; 
}
div.company>div{
    text-align: center;
    padding:8px;
}
div.company>div>h1{
font-size: 18px;
}
div.company>div>p{
    font-size: 15px;
    
}
div.responsive{
    flex: 25%;
}
div.passion{
    flex: 25%;
}
div.design{
    flex: 25%;
}
div.suppot{
    flex: 25%;
}
div.afterKnow{
display: flex;
padding-inline: 16px;
padding-block: 128px;
background-color: rgba(226, 231, 230, 0.788);
}
div.know{
flex: 1;

padding-inline: 16px;
}
div.know>h1{
    font-size: 24px;
}
div.know>p{
    font-size: 15px;
    padding-block: 15px;
   
}
div.know>a{
    background-color: black;
    color: white;
    text-decoration: none;
display: inline-block;
    padding:14px 16px;
    font-size: 15px;
}
div.know>a:hover{
    background-color: rgb(214, 212, 212);
    color: black;
}
div.knowImg{
flex: 1;

}
div.knowImg>img{
   border-radius: 12px;
   overflow: auto;
   width: 100%;
}
