section.learm {
  background-image: url(../img/mac.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 48px;
  height: calc(100vh - 51px);
  font-size: 18px;
  position: relative;
  width: 100%;
 
}

section.learm > h1 {
  font-size: 64px;
  font-weight: 400;
  line-height: 96px;
}

section.learm > p {
    line-height: 56px;
}

section.learm > a {
  text-decoration: none;
  color: black;
  background-color: rgba(255, 255, 255, 0.712);
  padding-inline: 24px;
  padding-block: 18px;
  display: inline-block;
}

section.learm > a:hover {
  background-color: #cccccc;
}

section.learm > div.iccon {
  position: absolute;
  left: 48px;
  bottom: 24px;
}
section.learm > div.iccon > i:hover {
  color: rgba(255, 255, 255, 0.596);
}

/* section.learm > div.iccon > i {
} */
